<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.mapper.ApplicationformMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplus.model.domain.Applicationform">
        <id column="id" property="id" />
        <result column="aid" property="aid" />
        <result column="bat_key" property="batKey" />
        <result column="stu_key" property="stuKey" />
        <result column="reason" property="reason" />
        <result column="result" property="result" />
        <result column="cid" property="cid" />
    </resultMap>
    <update id="updateReason">
        update applicationform
        <trim prefix="set" suffixOverrides=",">
            <if test="id != null">
                id = #{id},
            </if>
            <if test="aid != null and ''!=aid">
                aid = #{aid},
            </if>
            <if test="batKey != null and ''!=batKey">
                bat_key = #{batKey},
            </if>
            <if test="stuKey != null and ''!=stuKey">
                stu_key = #{stuKey},
            </if>
            <if test="reason != null and ''!=reason">
                reason = #{reason},
            </if>
            <if test="result != null and ''!=result">
                result = #{result},
            </if>
            <if test="cid != null and ''!=cid">
                cid = #{cid},
            </if>
        </trim>
            where id = #{id}
    </update>

    <update id="updateCid">
        update applicationform
        <trim prefix="set" suffixOverrides=",">
            <if test="id != null">
                id = #{id},
            </if>
            <if test="aid != null and ''!=aid">
                aid = #{aid},
            </if>
            <if test="batKey != null and ''!=batKey">
                bat_key = #{batKey},
            </if>
            <if test="stuKey != null and ''!=stuKey">
                stu_key = #{stuKey},
            </if>
            <if test="reason != null and ''!=reason">
                reason = #{reason},
            </if>
            <if test="result != null and ''!=result">
                result = #{result},
            </if>
            <if test="cid != null and ''!=cid">
                cid = #{cid},
            </if>
        </trim>
        where id = #{id}
    </update>
    <select id="getApp" resultType="com.example.mybatisplus.model.domain.Applicationform">
        select * from applicationform where stu_Key=#{sid} and bat_key=#{batKey}
    </select>


</mapper>
