<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.mapper.BatchMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplus.model.domain.Batch">
        <id column="id" property="id" />
        <result column="bid" property="bid" />
        <result column="startdate" property="startdate" />
        <result column="enddate" property="enddate" />
        <result column="applyend" property="applyend"/>
    </resultMap>
    <select id="getBidByTime" resultType="com.example.mybatisplus.model.domain.Batch">
        select * from batch where startdate &lt; curtime() and enddate>=curtime();
    </select>
    <select id="getPermission" resultType="com.example.mybatisplus.model.domain.Batch">
        select * from batch where startdate &lt; curtime() and applyend>=curtime();
    </select>


</mapper>
