<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.mapper.ClothesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplus.model.domain.Clothes">
        <id column="id" property="id" />
        <result column="cid" property="cid" />
        <result column="bat_key" property="batKey" />
        <result column="cname" property="cname" />
        <result column="size" property="size" />
        <result column="style" property="style" />
        <result column="sex" property="sex" />
        <result column="picture" property="picture" />
        <result column="num" property="num"/>

    </resultMap>
    <update id="setNums">
            UPDATE clothes set num=(SELECT COUNT(cid) from applicationform WHERE applicationform.cid=#{cid}) WHERE clothes.cid=#{cid};
    </update>
    <select id="getClothesMapper" resultType="com.example.mybatisplus.model.domain.Clothes">
        select clothes.* from applicationform,student,clothes
        where sid=#{sid}
          and sid=stu_key
          and applicaionform.cid = clothes.cid
          <!--and clothes.bat_key = #{bat_key} -->;
    </select>
    <select id="getByCid" resultType="com.example.mybatisplus.model.domain.Clothes">
         select clothes.* from clothes
        where cid=#{cid}
    </select>
    <select id="getByCidAndBatKey" resultType="com.example.mybatisplus.model.domain.Clothes">
        select  clothes.* from applicationform,student,clothes
        where sid=#{sid}
          and student.sid=applicationform.stu_key
          and applicationform.cid = clothes.cid
          and clothes.bat_key = #{bid}
          and applicationform.bat_key = clothes.bat_key
    </select>
    <select id="selectCids" resultType="java.lang.Integer">
        select cid from clothes
    </select>
    <select id="All" resultType="com.example.mybatisplus.model.domain.Clothes">
        select * from clothes
    </select>

</mapper>
