<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.mapper.ManagerApplicationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplus.model.domain.ManagerApplication">
        <id column="id" property="id" />
        <result column="man_key" property="manKey" />
        <result column="app_key" property="appKey" />
        <result column="reason" property="reason" />
        <result column="time" property="time" />
        <result column="result" property="result" />
        <result column="state" property="state" />
    </resultMap>
<!--    <select id="selectByMid" resultMap="BaseResultMap">-->
<!--        select * from manager_application where mankey= #{a}-->
<!--    </select>-->

</mapper>
