<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.mapper.ManagerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplus.model.domain.Manager">
        <id column="id" property="id" />
        <result column="mid" property="mid" />
        <result column="pwd" property="pwd" />
        <result column="mname" property="mname" />
        <result column="mlevel" property="mlevel" />
        <result column="major" property="major" />
        <result column="grade" property="grade" />
        <result column="permission" property="permission"/>
    </resultMap>
    <update id="modifyP">
        update manager
        <trim prefix="set" suffixOverrides=",">
            <if test="id != null">
                id = #{id},
            </if>
            <if test="mid != null and ''!=mid">
                mid = #{mid},
            </if>
            <if test="pwd != null and ''!=pwd">
                pwd = #{pwd},
            </if>
            <if test="mname != null and ''!=mname">
                mname = #{mname},
            </if>
            <if test="mlevel != null and ''!=mlevel">
                mlevel = #{mlevel},
            </if>
            <if test="major != null and ''!=major">
                major = #{major},
            </if>
            <if test="grade != null and ''!=grade">
                grade = #{grade},
            </if>
            <if test="permission != null and ''!=peimission">
                permission = #{permission},
            </if>
        </trim>
            where id = #{id}
    </update>
    <update id="setPermissions">
        update manager set permission=true where id in(
            <foreach collection="ids" item="id" separator=",">
                #{id}
            </foreach>
            )
    </update>

</mapper>
